<div class="container col-4 p-3">
  <div class="card">
    <h1>R E S U L T</h1>
    <h3>Your grid: <strong><%= params[:letters] %></h3></strong>
    <h3>Your word: <strong><%= params[:score] %></h3></strong>
    <h3><%= @message %></h3>
    <a href="/new" type="button" class="btn btn-primary">Pway again!</a>
  </div>
</div>
